  <% if (!user) { %>
    <link rel="stylesheet" href="/stylesheets/siwg.css">
  <% } %>
</head>
<body>
  <nav>
    <% if (user) { %>
      <div class="nav-user-container">
        <img
          class="nav-image" 
          src="<%= user.profile.avatar %>" 
          alt="<%= user.profile.name %>'s avatar"
        >
        <h3 class="nav-text"><%= user.profile.name %></h3>
      </div>
      <div class="nav-tools">
        <a class="nav-link nav-text" href="/">
          <i class="fa fa-home" aria-hidden="true"></i> 
        </a>
          <a href="/auth/logout">
            <button class="function-btn" type="submit">Sign out</button>
          </a>
          <a class="nav-link nav-text" href="/profiles/<%= user.profile?._id %>">
            My Profile
          </a>
          <a class="nav-link nav-text" href="/profiles">
            View Users
          </a>
          <% } else { %>
            <a href="/auth/google" class="siwg-link">
              <button type="submit" class="siwg">
                <img id="siwg-image" alt="Sign in with Google" />
              </button>
            </a>
            <% } %>
        </div>
        <div id="search-container">
          <form action="/albums/search" method="POST">
            <input class="search" name="search" type="search" placeholder="Search Albums">
          </form>
        </div>
  </nav>
