
<section class="opinion-form-container">
  <h2>Thoughts on this album:</h2>
  <form class="opinion-form" action="/opinions/<%= album?.id %>" method="POST">
    <textarea id="opinion-form-text" name="content" cols="30" rows="10"></textarea>
    <button id="opinion-form-btn" type="submit">Submit</button>
  </form>
</section>