
<section>
  <h2>Thoughts on this album:</h2>
  <form action="/opinions/<%= album?.id %>" method="POST">
    <textarea name="content" cols="30" rows="10"></textarea>
    <button type="submit">Submit</button>
  </form>
</section>