<%- include('../partials/html-head') %>
<%- include('../partials/nav') %>

<main>
  <section class="bio-details">
    
  </section>
</main>

<%- include('../partials/footer') %>

<!-- profile info
     Collection
     Friends -->