<%- include('./partials/html-head') %>

<%- include('./partials/nav') %>

<main class="main-home">
  <section id="home-content">
    <h1 class="greeting">Hello <%= user ? user.profile.name: "Please log in" %></h1>
    <img class="home-image" src="/images/info_graphic.jpeg" alt="record meme">
  </section>
</main>
<%- include('./partials/footer') %>