.album-details-container {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
  margin: 0px auto;
  padding: 0px;
  width: 100%;
  text-align: center;
}

.album-facts {
  margin-top: 40px;
  width: auto;
  display: grid;
  grid-template-rows: auto 90% auto;
  grid-template-columns: min-content auto;
  /* grid-auto-columns: min-content; */
}

.album-info {
  grid-column: 1 / 2;
  grid-row: 1 / 2;
  display: flex;
  width: 100%;
  justify-content: space-between;
  align-items: center;
}

.cover-art {
  width: 50vw;
  max-width: 500px;
  grid-column: 1 / 2;
  grid-row: 2 / 4;
  align-self: flex-end;
  /* object-fit: fill; */
  /* margin: 0 0 4rem; */
  box-shadow: 0 10px 15px rgba(0, 0, 0, 0.2), 0 10px 10px rgba(0, 0, 0, 0.2);
}

.track-list-container {
  grid-column: 2 / 3;
  grid-row: 2 / 3;
  justify-self: center;
  align-self: flex-start;
}

.track-list {
  font-size: var(--text-s);
  text-align: left;
  white-space: nowrap;
  line-height: 2rem;
  margin: 0;
}

#artist {
  margin: 0px;
}

#album-title {
  margin: 0px;
  font-size: var(--text-m);
}

.add-collection {
  background: var(--nav-background);
  background: var(--btn-gradient);
  border-top: 2px rgba(139, 0, 0, 0.9) solid; 
  color: var(--nav-color); 
  font-size: var(--text-s);
  height: 3.5rem;
  width: 7rem;
  grid-column: 2 / 3;
  grid-row: 3 / 4;
  border-radius: 1rem;
  justify-self: flex-start;
  align-self: flex-end;
  margin-left: 2rem;
  /* margin: -1rem 0 4rem 2rem; */
}

.add-collection:hover {
  border-top: none;
  border-bottom: 2px rgba(139, 0, 0, 0.9) solid;
}

.collect-form {
  margin: 0;
  padding: 0;
  width: 8rem;
}

.opinion {
  display: flex;
  justify-content: space-evenly;
  align-items: flex-start;
  margin: auto;
  margin-top: 30px;
  width: 100%;
}

.opinion-container {
  display: flex;
  margin-top: 2rem;
  width: 30%;
  align-items: center;
  /* height: 7rem; */
}

.photo-delete-container {
  display: grid;
  /* grid-template-columns: repeat(1, 1fr); */
  grid-template-rows: repeat(2, 1fr);
  position: relative;
  height: 4.5rem;
  width: 4.5rem;
  /* display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: space-around; */
}

.photo-container, #delete-opinion-btn {
  grid-column: 1 / 2;
}

#delete-opinion-btn {
  background: rgba(172, 172, 172, .7);
  border-top: 1px var(--bg-color) solid;
  color: rgb(243, 243, 243);
  font-size: var(--text-xs);
  text-align: center;
  margin: 0px;
  padding: 0px;
  height: 1.6rem;
  width: 4.5rem;
  border-radius: 0 0 10% 10%;
  position: relative;
  grid-row: 2 / 3;
  align-self: flex-end;
  justify-self: start;
  z-index: 2;
}

#delete-opinion-btn:hover {
  background: rgb(243, 243, 243);
  color: rgb(172, 172, 172);
}

.photo-container {
  grid-row: 1 / 3;
  z-index: 1;
}

.opinion-photo {
  border-radius: 10%;
  height: 4.5rem;
  width: 4.5rem;
  /* position: relative; */
  
  /* align-self: stretch;
  justify-self: stretch; */
  
} 

.opinion-content {
  font-size: var(--text-s);
  word-wrap: normal;
  justify-self: left;
  align-self: center;
  text-align: left;
  padding: 0px 0px 0px 1rem;
}

.opinion-form-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
  text-align: center;
  max-width: 50%;
}

.opinion-form {
  display: flex;
  flex-direction: column;
  width: 100%;
  max-width: 500px;
}

#opinion-form-text {
  max-width: 100%; 
  min-width: 300px;
  height: 100px;
  border-radius: 5px 5px 0px 0px;
  padding: 3px;
  font-family: Arial, Helvetica, sans-serif;
  resize: horizontal;
}

#opinion-form-btn {
  background: var(--nav-background);
  background: var(--btn-gradient);
  border-top: 3px rgba(139, 0, 0, 0.9) solid; 
  color: var(--nav-color); 
  border-radius: 0px 0px 5px 5px;
  height: 3rem;
}

#opinion-form-btn:hover {
  border-top: none;
  border-bottom: 2px rgba(139, 0, 0, 0.9) solid;
}

@media only screen and (max-width: 800px) {
  .album-details-container {
    margin: 20px 0 5px 0;
  }
 
  .album-info {
    align-items: flex-start;
    margin-bottom: 1rem;
  }

  .album-facts {
    grid-template-rows: auto auto 2.9rem;
    height: 40%;
    width: 95%; 
  }

  .cover-art {
    align-self: flex-start;
    width: 200px;
  }

  .track-list-container{
    grid-row: 1 / 3;
    }

  .track-list {
    font-size: 11px;
    text-align: left;
    white-space: normal;
    line-height: 1.6rem;
    margin: 0;
  }
  
  #artist {
    font-size: var(--text-m);
    margin: 0px;
  }
  
  #album-title {
    margin: 0px;
    padding-left: 1rem;
    font-size: var(--text-s);
  }

  .add-collection {
    font-size: var(--text-xs);
    height: 2.7rem;
    width: 10rem;
    grid-column: 2 / 3;
    grid-row: 3 / 4;
    border-radius: 5px;
    justify-self: flex-start;
    align-self: flex-end;
    margin-left: 2rem;
    /* margin: -1rem 0 4rem 2rem; */
  }

  .opinion {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    margin: auto;
    margin-top: 2px;
    width: 100%;
  }

  .opinion-container {
    width: 90%
    /* height: 7rem; */
  }

  .opinion-form-container {
    max-width: 100%;
  }

  #opinion-form-text {
    resize: none;
  }
  
}