.album-details-container {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
  margin: 0px auto;
  padding: 0px;
  width: 100%;
  text-align: center;
}

.album-facts {
  margin-top: 40px;
  width: auto;
  display: grid;
  grid-template-rows: auto 90% auto;
  grid-template-columns: min-content auto;
  /* grid-auto-columns: min-content; */
}

.album-info {
  grid-column: 1 / 2;
  grid-row: 1 / 2;
  display: flex;
  width: 100%;
  justify-content: space-between;
  align-items: center;
}

.cover-art {
  width: 50vw;
  max-width: 500px;
  grid-column: 1 / 2;
  grid-row: 2 / 4;
  align-self: flex-end;
  /* object-fit: fill; */
  /* margin: 0 0 4rem; */
  box-shadow: 0 10px 15px rgba(0, 0, 0, 0.2), 0 10px 10px rgba(0, 0, 0, 0.2);
}

.track-list-container {
  grid-column: 2 / 3;
  grid-row: 2 / 3;
  justify-self: center;
  align-self: flex-start;
}

.track-list {
  font-size: var(--text-s);
  text-align: left;
  white-space: nowrap;
  line-height: 2rem;
  margin: 0;
}

#artist {
  margin: 0px;
}

#album-title {
  margin: 0px;
  font-size: var(--text-m);
}

.add-collection {
  font-size: var(--text-s);
  height: 3.5rem;
  width: 7rem;
  grid-column: 2 / 3;
  grid-row: 3 / 4;
  border-radius: 1rem;
  justify-self: flex-start;
  align-self: flex-end;
  margin-left: 2rem;
  /* margin: -1rem 0 4rem 2rem; */
}

.collect-form {
  margin: 0;
  padding: 0;
  width: 8rem;
}

.opinion-container {
  margin-top: 10px;
}

.opinion-form {
  display: flex;
  margin-left: 7rem;
}

.delete-opinion {
  font-size: 1.3rem;
  height: 1rem;
  width: 5.3rem;
  border-radius: 0 0 10% 10%;
}

.photo-delete-button {
  display: flex;
  flex-direction: column;
}

.opinion-photo {
  width: 6rem;
  border-radius: 10% 10% 0 0;
}

#delete-opinion{
  height: 20px;
  font-size: var(--text-s);
}

.opinion-content {
  font-size: 1.6rem;
  align-self: center;
  padding: 0 0 0 1rem;
}


@media only screen and (max-width: 800px) {
  .album-details-container {
    margin: 20px 0 5px 0;
  }
 

  .album-info {
    align-items: flex-start;
    margin-bottom: 1rem;
  }

  .album-facts {
    grid-template-rows: auto auto auto;
    width: 95%; 
  }

  .cover-art {
    align-self: flex-start;
    width: 200px;
  }

  .track-list-container{
    grid-row: 1 / 3;
    }

  .track-list {
    font-size: 11px;
    text-align: left;
    white-space: normal;
    line-height: 1.6rem;
    margin: 0;
  }
  
  #artist {
    font-size: var(--text-m);
    margin: 0px;
  }
  
  #album-title {
    margin: 0px;
    padding-left: 1rem;
    font-size: var(--text-s);
  }

  .add-collection {
    font-size: var(--text-xs);
    height: 2.7rem;
    width: 10rem;
    grid-column: 2 / 3;
    grid-row: 3 / 4;
    border-radius: 1rem;
    justify-self: flex-start;
    align-self: flex-end;
    margin-left: 2rem;
    /* margin: -1rem 0 4rem 2rem; */
  }
}