
.profile-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
  width: 100%;
}

.bio-details {
  /* height: 6.5rem; */
  text-align: center;
}

.friends-list {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  margin-top: 1rem;
  width: 100%;
}

.friend-info {
  text-align: center;
  margin: 0.5rem 0.5rem;
}

.friends-photo {
  width: 4rem;
  margin: 0rem 1rem;
}

.friend-name {
  font-size: var(--text-xs);
  margin: 0;
}

.friend-btn {
  background: var(--nav-background);
  background: var(--btn-gradient);
  border-top: 2px rgba(139, 0, 0, 0.9) solid; 
  color: var(--nav-color); 
  border-radius: 5px;
  height: 3rem;
}

.friend-btn:hover {
  border-top: none;
  border-bottom: 2px rgba(139, 0, 0, 0.9) solid;
}

.album-container {
  display: flex;
  flex-wrap: wrap;
  width: 85%;
  justify-content: center;
  align-items: center;
  margin-top: 15px;
  /* top: 20px;
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
  grid-gap: .1rem;
  margin: 2rem auto;
  height: 100%;
  justify-items: center
  align-items: flex-start;
   */
} 

.album-card {
  box-shadow: 0 10px 15px rgba(0, 0, 0, 0.2), 0 10px 10px rgba(0, 0, 0, 0.2);
  background-color: rgb(197, 197, 197);
  border-radius: 3px 3px 0 0;
  display: flex;
  flex-flow: column;
  justify-content: center;
  width: 28%;
  min-width: 350px;
  height: auto;
  margin: 5px 20px 25px;
}

.album-art {
  height: auto;
  width: 100%;
  object-fit: fill;
  justify-self: flex-end;
  margin: 0 auto -2px auto;
} 

.album-art:hover {
  transform: scale(1.02);
}

.album-text {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.artist, .title {
  align-self: center;
  padding: 0px 4px;
}

.artist {
  font-size: 15px;
}


@media only screen and (max-width: 700px) {
  
  #user-details{
    padding-bottom: 1.1rem;
    margin-bottom: 0;
  }

  .friends-photo {
    width: 3.5rem;
    margin: 0rem 0.8rem;
  }

  .album-container {
    margin-top: 0.5rem;
  }

}
