html, body, main {
  height: 100%;
  width: 100%;
}


body {
  background-color: rgb(172, 172, 172);
  font-family: Arial, Helvetica, sans-serif;
}
/* The Universal Selector */
*, /* All elements*/
*::before, /* All ::before pseudo-elements */
*::after {
  /* All ::after pseudo-elements */
  /* height & width will now include border & padding by default
     but can be over-ridden as needed */
  box-sizing: inherit;
}

/* resets font size to be 62.5% of the user preference - 
     in most browser configurations this will be 10px */
:root {
  font-size: 62.5%;
}

nav {
  background: rgb(62,62,62);
  background: linear-gradient(0deg, rgba(62,62,62,1) 24%, rgba(59,59,59,1) 100%);
  font-size: 1.6rem;
  display: flex;
  justify-content: space-between;
  height: 5rem;
  border-bottom: 2px rgba(139, 0, 0, 0.9) solid;
  box-shadow: 0 4px 0 rgba(0, 0, 0, 0.5);
  margin: 0;
  top: 0;
  left: 0;
  width: 100%;
  position: fixed;
  z-index: 1;
  color: rgb(228, 228, 228);
}

.image-name {
  display: flex;
  align-items: center;
  justify-self: flex-start;
  width: 40rem;
}

.nav-tools {
  display: flex;
  align-items: center;
  justify-content: space-around;
  height: 100%;
  width: 44rem;
}

.nav-image {
  height: 5rem;
  border-radius: 5%;
  margin: 0% 1rem;
}

.bio-details {
  position: relative;
  top: 50px;
  height: 6.5rem;
  text-align: center;
}

.nav-text {
  font-size: 2rem;
  text-shadow: 1px 1px 1px black;
  line-height: 2rem;
  letter-spacing: 1px;
}

.nav-link {
  color: rgb(228, 228, 228);
}

.page-title {
  font-size: 2rem;
  padding: 0;
  margin: 0;
}

.profile-details {
  font-size: 1rem;
}

/* USER COLLECTION */

.album-container {
  top: 20px;
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
  grid-gap: .1rem;
  margin: 2rem auto;
  height: 100%;
  justify-items: center;
  align-items: center;
  max-width: 1200px;
} 

.album-card {
  box-shadow: 0 10px 15px rgba(0, 0, 0, 0.2), 0 10px 10px rgba(0, 0, 0, 0.2);
  background-color: rgb(197, 197, 197);
  border-radius: 3px 3px 0 0;
  display: flex;
  flex-flow: column;
  width: 260px;
  margin: 5px 0px;
}

.album-art {
  height: 260px;
  width: 260px;
  object-fit: cover;
  margin: 0px auto -3px;
  justify-content: flex-end;
} 

.album-art:hover {
  transform: scale(1.02);
}

.album-text {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.artist, .title {
  align-self: center;
  padding: 0px 4px;
}

.artist {
  font-size: 15px;
}

.search {
  background-color: black;
  height: 3rem;
  color: rgb(219, 219, 219);
  text-align: center;
  border-radius: 1rem;
}

.title {
  font-size: 12px;
}

a:link {
  text-decoration: none;
}

a:visited {
  text-decoration: none;
}

a:hover {
  text-decoration: underline;
}

button {
  color: rgb(219, 219, 219);
  background-color: black;
  border: none;
  padding: 7px 15px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
}

button:hover {
  color: black;
  background-color: rgb(219, 219, 219);
}

/* HOME */

.main-home {
  top: 100rem;
  margin: auto;
  width: 50%;
  text-align: center;
}

.home-image {
  margin-top: 10rem;
  width: 50rem;
}

/* RESULTS */

.main-results {
  top: 100rem;
  margin: auto;
  width: 80%;
  text-align: center;
}

.search-details {
  top: 100rem;
  margin: auto;
}

.album-results {
  width: 40rem;
  margin: 4rem;
  box-shadow: 0 10px 15px rgba(0, 0, 0, 0.2), 0 10px 10px rgba(0, 0, 0, 0.2);
}

.album-results:hover{
  transform: scale(1.03);
}

/* ALBUM DETAILS */

.main-details {
  margin: auto;
  width: 60%;
  text-align: center;
}

.album-facts {
  display: flex;
  margin: 7rem auto 0;
  width: 80%;
}

.cover-art {
  width: 45rem;
  margin: 0 0 4rem;
  box-shadow: 0 10px 15px rgba(0, 0, 0, 0.2), 0 10px 10px rgba(0, 0, 0, 0.2);
}

.track-list {
  font-size: 1.3rem;
  text-align: left;
  margin: 0 auto 3rem;
  width: 45rem;
}

.show-info {
  display: flex;
  width: 100%;
  justify-content: space-between;
}

.track-list-add-collection {
  width: 20rem;
  display: flex;
  flex-wrap: wrap;
  flex-direction: column;
  justify-content: space-between;
  margin-top: 5rem;
}

.add-collection {
  height: 4rem;
  width: 8rem;
  border-radius: 1rem;
  justify-self: flex-end;
  margin: -1rem 0 4rem 2rem;
}

.collect-form {
  margin: 0;
  padding: 0;
  width: 8rem;
}

.opinion-form {
  display: flex;
  margin-left: 7rem;
}

.delete-opinion {
  font-size: 1.3rem;
  height: 1rem;
  width: 5.3rem;
  border-radius: 0 0 10% 10%;
}

.photo-delete-button {
  display: flex;
  flex-direction: column;
}

.opinion-photo {
  width: 8rem;
  border-radius: 10% 10% 0 0;
}

.opinion-content {
  font-size: 1.6rem;
  align-self: center;
  padding: 0 0 0 1rem;
}