html  {
  box-sizing: border-box;
}

body, main {
  /* height: 100vh; */
  width: 100%;
  padding: 0;
  padding-top: 40px;
  margin: 0;
}

body {
  font-family: Arial, Helvetica, sans-serif;
  --bg-color: rgb(172, 172, 172);
  --nav-background: rgb(62,62,62);
  --nav-color: rgb(228, 228, 228);
  --nav-gradient: linear-gradient(0deg, rgb(73, 73, 73) 24%, rgb(51, 51, 51) 100%);
  --btn-gradient: linear-gradient(180deg, rgb(73, 73, 73) 24%, rgb(51, 51, 51) 100%);
  --text-xs: 1rem;
  --text-s: 1.2rem;
  --text-m: 1.5rem;
  --text-l: 1.8rem;
  --text-xl: 2rem;
  background-color: var(--bg-color);
}
/* The Universal Selector */
*, /* All elements*/
*::before, /* All ::before pseudo-elements */
*::after {
  /* All ::after pseudo-elements */
  /* height & width will now include border & padding by default
     but can be over-ridden as needed */
  box-sizing: inherit;
}

/* resets font size to be 62.5% of the user preference - 
     in most browser configurations this will be 10px */
:root {
  font-size: 62.5%;
}

button {
  border: none;
  outline: none;
}

nav {
  background: var(--nav-background);
  background: var(--nav-gradient);
  font-size: var(--text-l);
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: space-between;
  /* height: 5rem; */
  border-bottom: 2px rgba(139, 0, 0, 0.9) solid;
  box-shadow: 0 4px 0 rgba(0, 0, 0, 0.5);
  margin: 0;
  top: 0;
  left: 0;
  width: 100%;
  position: fixed;
  z-index: 1;
  color: var(--nav-color);
  padding: 0.5rem 1rem;
}

h1 {
  font-size: var(--text-xl);
}

.nav-user-container {
  display: flex;
  align-items: center;
  justify-content: space-around;
  justify-self: start;
  /* margin: 0 1rem; */
  width: auto;
}

.nav-tools {
  display: flex;
  align-items: center;
  justify-self: flex-end;
  justify-content: space-evenly;
  height: 100%;
}

.nav-image {
  height: 5rem;
  border-radius: 5%;

}

.nav-text {
  font-size: var(--text-l);
  font-weight: 400;
  text-shadow: 1px 1px 1px black;
  line-height: 2rem;
  letter-spacing: 1px;
  padding: 0 1rem;
  white-space: nowrap;
}

.nav-link {
  font-size: var(--text-l);
  color: rgb(228, 228, 228);
}

#search-container {
  justify-self: stretch;
}

/* HOME */

.main-home {
  top: 100rem;
  margin: auto;
  height: 90%;
  width: 50%;
  text-align: center;
}

#home-content {
  display: flex;
  flex-direction: column;
  align-content: center;
}


.page-title {
  margin: none;
  padding-top: 5px;
}

.home-image {
  margin: 2rem auto 0 auto;
  width: 60%;
  border: 1px solid rgb(80, 80, 80);
  border-radius: 5px;
}

.profile-details {
  font-size: 1rem;
}

/* USER COLLECTION */


.search {
  background-color: black;
  height: 3rem;
  color: rgb(219, 219, 219);
  text-align: center;
  border-radius: 1rem;
}

.title {
  font-size: 12px;
}

a:link {
  text-decoration: none;
}

a:visited {
  text-decoration: none;
}

a:hover {
  text-decoration: underline;
}

.function-btn {
  color: rgb(219, 219, 219);
  /* background: var(--nav-background);
  background: var(--nav-gradient); */
  background: none;
  border: none;
  padding: 7px 15px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: var(--text-l);
}

.function-btn:hover {
  color: black;
  background: rgb(184, 184, 184);
  border: 1px black solid;
}

/* -------------------MEDIA---------------------- */

@media only screen and (max-width: 700px) {

  h1 {
    font-size: var(--text-l);
  }

  nav {
    display: grid;
    /* grid-template-columns: auto min-content; */
    grid-auto-rows: min-content;
    grid-auto-columns: min-content;
    height: auto;
    justify-content: space-around;
    padding: .5rem;
    padding-bottom: 0;
  }

  .nav-user-container {
    grid-column: 1 / 2;
    grid-row: 1 / 2;
    margin: 0;
  }

  .nav-tools {
    grid-column: 1 / 3;
    grid-row: 2 / 3;
    align-items: center;
    justify-content: space-between;
    justify-self: space;
    padding-top: .2rem;
    width: 100%;
  }

  .nav-text {
    padding-left: 1rem;
    padding-right: 0;
    font-size: var(--text-m);
  }

  .nav-image {
    height: 5rem;
  }

  #search-container {
    grid-column: 2 / 3;
    grid-row: 1 / 2;
    justify-self: flex-end;
  }

  .function-btn {
    white-space: nowrap;
    font-size: var(--text-m);
  }

  function-btn:hover {
    background: none;
    border: none;
  }

  /* HOME */

  .main-home {
    width: 70%;
  }

  .greeting {
    margin-top: 12rem;
  }

  .home-image {
    margin: 2rem auto 0 auto;
    width: 90%;
  }

}