<%- include('../partials/html-head') %>
<%- include('../partials/nav') %>

<main>
  <section class="bio-details">
    <h1>Searched Album Results</h1>
    <%= apiResult[3].title %>
  </section>
</main>

<%- include('../partials/footer') %>
