<%- include('../partials/html-head') %>
<%- include('../partials/nav') %>

<main>
  <section class="bio-details">
    <h1>Show Album</h1>
    
  </section>
</main>

<%- include('../partials/footer') %>
