<%- include('../partials/html-head') %>
<%- include('../partials/nav') %>

<main>
  <section class="bio-details">
    <h1>Show Album</h1>
    <img  width="50%" src="<%= image %>" alt="cover art">
  </section>
</main>

<%- include('../partials/footer') %>
